*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: antiquewhite;
    color: black;
}

h1,h2,h3{
    color: #333;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
h2{
    font-size: 2rem;
    margin-bottom: 15px;
}
h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
p{
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
}
a{
    text-decoration: none;
    color: #007BFF;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: #0056b3;
}
a:active{
    color: #004085;
}

.main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.mywork{
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer{
    
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer a{
    color: #007BFF;
}
footer a:hover{
    text-decoration: underline;
}
footer a:visited{
    color: #0056b3;
}
footer a:active{
    color: #004085;
}
footer p{
    margin: 0;
}
footer .social-icons{
    margin-top: 10px;
}
.social-icons a{
    margin: 0 10px;
    font-size: 1.5rem;
    color: white;
}
.social-icons a:hover{
    color: #007BFF;
}
.social-icons a:visited{
    color: #0056b3;
}
.social-icons a:active{
    color: #004085;
}